:root {
    /* colors */
    --clr-primary-300: hsl(5, 85%, 63%);
    --clr-primary-200: hsl(35, 77%, 62%);

    --clr-neutral-900: hsl(240, 100%, 5%);
    --clr-neutral-800: hsl(236, 13%, 5%);
    --clr-neutral-700: hsla(240, 12%, 5%, 0.5);
    --clr-neutral-300: hsl(233, 8%, 79%);
    --clr-neutral-200: hsl(36, 100%, 99%);

    /* font-weights */
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-extra-bold: 800;

    /* font-family */
    font-family: 'Inter', sans-serif;

}

/* CSS reset below */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin and padding
  */
*, ul, li {
    padding: 0;
    margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/* Start own CSS */
body {
    padding: 2rem 1rem;
    overflow-x: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
}
.sr-only{
    display: none;
}

@media (max-width: 35em) {
    .primary-navigation {
        z-index: 1000;
        position: fixed;
        inset: 0 0 0 30%;
        background: var(--clr-neutral-200);
        border: 1px solid magenta;

        transform: translateX(100%);
        transition: transform 1s ease-out ;
    }
    .primary-navigation[data-visible="true"]{
        transform: translateX(0%);
    }
    nav ul {
        flex-direction: column;
        align-items: flex-start;
        padding: min(30vh, 9rem) 2rem 0 2rem;
    }
    .mobile-nav-toggle{
        position: fixed;
        z-index: 9999;
        background-image: url(./assets/images/icon-menu.svg);
        background-color: transparent;
        background-repeat: no-repeat;
        width: 2rem;
        height: 2rem;
        border: none;
        top: 2rem;
        right: 1.5rem;
    }
    .mobile-nav-toggle[aria-expanded="true"]{
        background-image: url(./assets/images/icon-menu-close.svg);
    }
    .mobile-nav-bg-overlay{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--clr-neutral-700);
        transform: translateX(-100%);
        transition: transform 1s;
    }
    .mobile-nav-bg-overlay[data-visible="true"]{
        transform: translateX(0%);
    }
}